/* 
    Document   : style
    Created on : 16-10-2013, 14:33:03
    Author     : Patrick Christensen
    Description:
    This sheet contains the standard style for the site SiQuoia
*/

root { 
    display: block;
}

body{
    background: #e6e6e6;
    font-family: helvetica, verdana sans-serif;
    font-size: 24px;
    margin: 0 auto;
    width: 45%;
}

.successbar{
    background-color: cornflowerblue;
    font-family: helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #FFFFFF;
    -webkit-text-stroke: .01px black;
    font-size: 15px;
    font-stretch: expanded;
    text-shadow: 0px 0px 3px #000000;
    padding: 12px 15px;
    width: 100%;
    height: 25px;
    border-radius: 0px 0px 15px 15px;
    border: solid black thin;
    border-top: transparent;
    display: inline;
}

.logos{
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

.pagecontent{
    background-color: transparent;
    padding: 0px;
    margin: 0 auto;
}

.content{
    background: #FFFFFF;
    box-shadow: 0px 0px 15px #aaaaaa;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    border-radius: 10px; 
}

#formbody{
    font-size: 10.5px;
    width: 30%;
    margin: 0 auto;
}

input{
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    font: helvetica, sans-serif;
    font-size: 10.5px;
}

.menubutton{
    background: #5e8ee4;
    border-radius: 5px 5px 0px 0px;
    border: solid #4173c9 1px;
    font-family: arial bold, sans-serif;
    font-size: 17px;
    color: azure;
    font-weight: 500;
    cursor: default;
    padding: 7px 15px;
    text-shadow: 1px 1px 5px #4173c9;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    border-bottom: transparent;
}

.menuclicked{
    background: #4173c9;
}

button{
    background: #5e8ee4;
    border-radius: 5px 5px 5px 5px;
    border: solid #4173c9 1px;
    font-family: arial bold, sans-serif;
    font-size: 15px;
    color: azure;
    font-weight: 500;
    cursor: default;
    padding: 7px 7px;
    text-shadow: 1px 1px 5px #4173c9;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    
}

p{
    font-family: helvetica, sans-serif;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}

h1{
    font-family: helvetica, sans-serif;
    font-size: 35px;
    font-weight: 900;
    text-shadow: 2px 0px 15px #aaaaaa;
}

h2{
    font-family: arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    border-bottom: solid black thin;
}

h3{
    font-family: arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.bot{
    width: 100%;
    background: #f5f5f5;
    border-top: solid black thin;
    border-radius: 0px 0px 10px 10px;
}

th{
    border-bottom: solid black thin;
    font-family: helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.profileedit td{
    padding: 0px 25px;
    margin: 0 auto;
}

.menu{
    background: #f5f5f5;
    border-bottom: solid black thin;
    border-radius: 10px 10px 0px 0px;
}

.choicecontent{
    padding-left: 15px;
}

.errorbar{
    background-color: #e30000;
    font-family: helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #FFFFFF;
    font-size: 12px;
    text-shadow: 0px 0px 3px #FFFFFF;
    padding: 12px 15px;
    width: 100%;
    height: 25px;
    border-radius: 0px 0px 15px 15px;
    display: inline;
}

.errorbar #closebutton{
    border: solid black thin;
    border-radius: 3px;
    width: 15px;
    height: 50%;
    float: right;
    display: inherit;
    font-size: 75%;
    font-weight: 500;
    cursor: default;
    background-image: -o-linear-gradient(bottom, #c50000 0%, #e30000 100%);
    background-image: -moz-linear-gradient(bottom, #c50000 0%, #e30000 100%);
    background-image: -webkit-linear-gradient(bottom, #c50000 0%, #e30000 100%);
}

.errorbar #closebutton:hover{
    background: #ce0000;
}

td{
    font-size: 12px;
}

.menubutton:hover{
    background: #7b9fe1;
}

button:hover{
    background: #7b9fe1;
}